@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

@if (Initialized) {
    <Authenticated>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authenticated>
    <Unauthenticated>
        <Login></Login>
    </Unauthenticated>
}

@code {
    private bool Initialized = false;

    protected override async Task OnInitializedAsync() {
        await BootstrapCss.SetBootstrapCss("flatly", "4.3.1");
        await Globals.GlobalInit();
        Initialized = true;
        StateHasChanged();
        await base.OnInitializedAsync();
    }
}
