<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SDSetup Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <Unauthenticated>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        </Unauthenticated>
        <Authenticated>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>

            <Authorized MinRole="SDSetupRole.Developer">

                <li class="navbar-header">Package Management</li>

            </Authorized>

            <Authorized MinRole="SDSetupRole.Administrator">

                <li class="navbar-header">Administration</li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/packages" Match="NavLinkMatch.All">
                        <span class="oi oi-box" aria-hidden="true"></span> Packages
                    </NavLink>
                </li>

            </Authorized>

        </Authenticated>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
