<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SDSetup Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass sidebar-content" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <Unauthenticated>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        </Unauthenticated>
        <Authenticated>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>

            <Authorized MinRole="SDSetupRole.Developer">

                <li class="navbar-header">Package Management</li>

            </Authorized>

            <Authorized MinRole="SDSetupRole.Administrator">

                <li class="navbar-header">Administration</li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/packages" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-box" aria-hidden="true"></span> Packages
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/syslog" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-list" aria-hidden="true"></span> System Logs
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/bundlerlogs" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-list" aria-hidden="true"></span> Bundler Logs
                    </NavLink>
                </li>

            </Authorized>

        </Authenticated>
    </ul>

    <div class="navbar-profile">
        <BSRow NoGutters="true">
            <span>
                <img src="@Globals.UserProfile.primaryProfile.avatarUrl" />
            </span>
            <span style="padding:4px">
                <BSRow NoGutters="true">
                    <h5 class="align-self-center">@Globals.UserProfile.primaryProfile.username</h5>
                </BSRow>
                <BSRow NoGutters="true">
                    <BSButtonGroup Size="Size.Small">
                        <BSButton Color="Color.Primary" IsDisabled="true">Settings</BSButton>
                        <a href="@AccountEndpoints.LogoutEndpoint"><BSButton Color="Color.Danger">Logout</BSButton></a>
                    </BSButtonGroup>
                </BSRow>
            </span>
        </BSRow>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
