body {
	background-color: #f9fafb;
	padding-top: 1rem;
}

.masonry.grid {
	display: block;
}

@media only screen and (min-width: 768px) {
	.masonry.grid {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	.ui.doubling.masonry.grid[class*="three column"] > .column {
		width: 100% !important;
	}
}

@media only screen and (min-width: 992px) {
	.masonry.grid {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
