@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
	app {
		flex-direction: row;
	}

	.sidebar {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.main .top-row {
		position: sticky;
		top: 0;
	}

	.main > div {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}

	.navbar-toggler {
		display: none;
	}

	.sidebar .collapse {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	.docs-example {
		position: relative;
		padding: 1em 1em 1em;
		border: 1px solid #BBB;
		border-radius: 5px;
		margin-top: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5rem;
		background-color: #FFFFFF;
	}

		.docs-example .card {
			min-width: 300px;
			max-width: 300px;
		}

	.bg-fullheight {
		width: 900px;
		margin: 0 0;
		height: 100%;
		background: url(imgs/bk.png) repeat-y;
		overflow: hidden;
	}

	html {
		height: 100%;
		width: 100%;
	}

	body {
		min-height: 100%;
	}

	.nc3_hover {
		position: relative;
	}

	.nc3_tooltip {
		bottom: 101%;
		right: -65%;
		z-index: 999;
		background-color: #aeaeae;
		color: white;
		border-radius: 5px;
		position: absolute;
		padding: 0.5rem;
		max-width: 20em;
		min-width: 20em;
		visibility: hidden;
	}

	.nc3_hover:hover .nc3_tooltip {
		visibility: visible;
	}


	@media screen and (max-width: 1024px) {
		.hide-mobile {
			visibility: hidden;
		}
	}
}

.mobile-only {
	display: none;
	visibility: collapse;
}

@media only screen and (max-width: 768px) {
	.mobile-only {
		display: block;
		visibility: visible;
	}
}

.pc-tablet-only {
	display: block;
	visibility: visible;
}

@media only screen and (max-width: 768px) {
	.pc-tablet-only {
		display: none;
		visibility: collapse;
	}
}

.flex-container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	position:fixed;
	left:0;
	right:0;
}

.row {
	width: auto;
	border: 1px solid blue;
}

.flex-item {
	background-color: tomato;
	padding: 5px;
	width: 20px;
	height: 20px;
	margin: 10px;
	line-height: 20px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0; /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 10ms;
	-moz-animation-duration: 10ms;
	animation-duration: 10ms;
}

.noscroll {
	overflow:hidden;
}