<!-- Copyright (c) 2018 noahc3
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
@page "/"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<img class="ui small image" src="/img/logo.png" style="display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5rem;width:60%" />

@if (!String.IsNullOrEmpty(G.manifest.Message.InnerHTML)) {
	<div class="ui @G.manifest.Message.Color message">
		<div class="header fluid" style="text-align:center">
			@((MarkupString)G.manifest.Message.InnerHTML)
		</div>
	</div>
}


<div class="docs-example">
	Homebrew SD Setup is a web application that lets you select the homebrew applications and custom firmwares you want, and quickly create a zip archive to extract to your SD card. The Ninite for your game consoles.
</div>

<div class="docs-example" style="margin-top:1.5rem">
	<h3 style="margin-bottom:0.5em;">Select a Console</h3>
	<div class="ui link cards justify-content-center" style="margin-bottom:1.5rem">
		@foreach (Platform k in G.manifest.Platforms.Values) {
            if (!k.Visible) { continue; }
			<div class="card" style="max-width:30rem">
				<div class="image" onclick="@(() => Navigate("/console?" + k.ID))">
					<img src="@k.HomeIcon">
				</div>
			</div>
		}
	</div>
</div>

@functions {

private void Navigate(string url) {
	UriHelper.NavigateTo(url);
}
}
