@page "/"

<div class="ui secondary pointing menu red">
	<a href="/" class="active item"> Home
	</a>
	<a href="/switch" class="item"> Switch
	</a>
	<a class="item"> FAQ
	</a>
</div>

<h1>Homebrew SD Setup</h1>

Homebrew SD Setup is a web application that lets you select the homebrew applications and custom firmwares you want, and quickly create a zip archive to extract to your SD card. The Ninite for your game consoles.
