@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar {
    padding:0;
}

.sidebar-content {
    flex-direction: column;
    height: calc(100% - 3.5rem);
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);

}

    .sidebar .nav.flex-column {
        flex: 1 1 auto;
    }

    .sidebar .collapse {
        display:none;
    }

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        padding:0;
    }

    .sidebar .navbar-header {
        font-size: 1.0rem;
        background-color: rgba(0,0,0,0.4);
        height: 2.5rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        padding-left: 1.5rem !important;
    }
        .sidebar .navbar-header + .nav-item {
            padding-top: 1rem;
        }

        .sidebar .nav-item + .navbar-header {
            margin-top: 0.5rem;
        }

    .sidebar .navbar-profile {
        width:100%;
        font-size: 1.0rem;
        background-color: rgba(0,0,0,0.4);
        height:auto;
        display:block;
        align-items:center;
        color:#ffffff;
        bottom:0;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right:1.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display:flex;
    }

    .sidebar .sidebar-content {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}


label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

button {
    
}


.card-linked-account {
    max-width:300px;
}

.card-linked-account > hr {
    margin:1px;
}

    .card-linked-account > .row {
        max-height: 50px;
        height: auto;
    }

.card-linked-account>.row>div {
    max-height:100%;
}

    .card-linked-account > .row > div > h5 {
        margin-bottom:0;
    }

    .card-linked-account > .row > div > p {
        margin-bottom: 0;
    }

.card-linked-account > .row > div > img {
    margin:5%;
    width:90%;
    padding: 0.2rem;
}

    .card-linked-account > .row > .btn-group {
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        padding:0.4rem;
    }

        .card-linked-account > .row > .btn-group > button {
            margin-top: 0;
        }

.navbar-profile {
}

    .navbar-profile > hr {
        margin: 1px;
    }

    .navbar-profile .col-8 {
        padding:0.5rem;
    }

    .navbar-profile > .row {
        height: auto;
    }

        .navbar-profile > .row > span {
            max-height: 100%;
        }

            .navbar-profile > .row > span > h5 {
                margin-bottom: 0;
            }

            .navbar-profile > .row > span > p {
                margin-bottom: 0;
            }

            .navbar-profile > .row > span > img {
                margin: 5%;
                width: 90%;
                padding: 0.2rem;
                max-height: 75px;
                max-width: 75px;
            }

        .navbar-profile > .row > .btn-group {
            margin-left: auto;
            margin-right: 0;
            margin-top: 0;
            padding: 0.4rem;
        }

            .navbar-profile > .row > .btn-group > button {
                margin-top: 0;
            }



.login-logo {
    width:80vw;
    max-width:600px;
    display:block;
    margin:1rem auto;
}

.login-buttons {
    display:inline-block;
    margin-left:50%;
    transform:translateX(-50%);
}

.global-center {
    position:absolute;
    left:50vw;
    top:45vh;
    transform:translate(-50%, -50%);

}

.icon-with-text {
    height:1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.tooltip-preview {
    background-color: #000;
    border: 1px solid #000;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 20em;
    min-width: 20em;
}

    .tooltip-preview > h4 {
        margin: 0;
        font-size: 1.07142857rem;
        font-weight: 700;
        line-height: 1.28571429em;
    }

    .tooltip-preview > h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 0.9375rem;
    }

    .tooltip-preview > p > a {
        color: #DB2828;
        word-break: break-all;
    }

.btn.dropdown-toggle {
    border: rgba(0,0,0,0.15) solid 1px;
}

.form-check-label {
    margin-top: 0;
}

.form-check {
    margin-top: 0.5rem;
}

.panel-with-bottom-rows {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1.1rem);
}

    .panel-with-bottom-rows > :first-child {
        flex: 1 1 auto;
    }

    .panel-with-bottom-rows > :not(:first-child) {
        margin-bottom: 1rem;
    }

.wide-btn-group {
    width:100%;
}

.loading-overlay {
    position:absolute;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.25);
}

    .loading-overlay > .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        margin: -60px 0 0 -60px;
        border: 16px solid rgba(0,0,0,0);
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 0.5s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.filetree ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.filetree li > div > ul {
    padding-left: 20px;
}

.filetree li {
    white-space: nowrap;
}

.filetree li.folder-collapsed:before {
    content: '\f07b';
    font-family: 'FontAwesome';
    padding-right: 4px;
}

.filetree li.folder:before {
    content: '\f07c';
    font-family: 'FontAwesome';
    padding-right: 4px;
}

.filetree li.file:before {
    content: '\f15b';
    font-family: 'FontAwesome';
    padding-right: 4px;
}

.filetree a {
    color: MenuText;
}

.accordion > .card:only-child {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.log {
    overflow-y: scroll;
    max-height:85vh;
    font-family: monospace;
    background-color:lightgray;
    word-wrap:normal;
    margin-top:1rem;
}