@inherits BlazorLayoutComponent

<div class="main" style="min-height:100%;height:auto">
	<div class="container" style="padding-bottom:1.5rem">
		<div class="content px-4">
			@Body
		</div>
	</div>
</div>