@inherits BlazorLayoutComponent

<div class="main" style="min-height:100%;height:auto">
	<div class="container" style="padding-bottom:1.5rem">
		<div class="content px-4">
			@Body
		</div>
	</div>
	<h5 style="text-align:center">Made by noahc3</h5>
	<h5 style="text-align:center;color:#d4d4d4;margin-bottom:1.5em">2018.08.16.01</h5>
</div>