@page "/switch"
@inject HttpClient Http

<h1>Nintendo Switch</h1>

@if (!initialized) {
	<h2>Page is loading, please wait...</h2>
} else {
	<h2>Select your Custom Firmwares</h2>


	<h2>Select your Homebrew</h2>
	<div class="ui link cards">
		@foreach(KeyValuePair<string, Dictionary<string, List<Package>>> k in G.categories) {
			<div class="ui card">
				<div class="content">
					<div class="header">@k.Key</div>
				</div>
				<div class="content">
					@foreach(KeyValuePair<string, List<Package>> n in k.Value) {
						<h4 class="ui sub header" style="padding-bottom:10px">@n.Key</h4>
						<div class="ui form">
							@foreach (Package p in n.Value) {
								<div class="inline field">
									<div class="ui checkbox">
										<input type="checkbox" tabindex="0" class="hidden">
										<label>@p.name</label>
									</div>
								</div>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>
}


@functions {

	public static bool initialized = false;

	Dictionary<string, Package> packages = new Dictionary<string, Package>();

	protected override async Task OnInitAsync() {
		G.packages = await Http.GetJsonAsync<Dictionary<string, Package>>("https://storage.googleapis.com/noahc3_hacktools/switch/sdsetup/manifest_v3.json");
		G.Init();
		initialized = true;
	}
}
