@using SDSetupCommon.Data.UpdaterModels
@inherits ComponentBase

@if (Globals.Authenticated) {
    <BSCard CardType="CardType.Card">
        <a href="javascript:void(0);" @onclick="@ToggleCollapse">
            <BSCard CardType="CardType.Header">
                Timed Scan Trigger
            </BSCard>
        </a>
        <BSCard CardType="CardType.Body" Class="@(collapsed ? "collapse" : "")">
            <BSCard CardType="CardType.Text">
                This scan will check for updates when  a set time interval passes.
                <ul>
                    <li>The length of the interval is configured on the server and cannot be set custom for each package.</li>
                    <li>This trigger will cause a delay between releases going live and the update appearing on SDSetup.</li>
                    <li>Unless you want to pull updates from 4TU Appstore, strongly consider using a Webhook Trigger for faster updates on SDSetup.</li>
                </ul>
            </BSCard>

            <br />
            <BSButton Color="Color.Danger" OnClick="@Delete"><span class="oi oi-trash" aria-hidden="true"></span> Delete</BSButton>
        </BSCard>
    </BSCard>
}

@code {
    [Parameter]
    public TimedScanTrigger Trigger { get; set; }

    [Parameter]
    public Action Delete { get; set; }

    private bool collapsed = true;

    private void ToggleCollapse() {
        collapsed = !collapsed;
    }
}