@page "/"

<Unauthenticated>
    <p>Please login to continue.</p>
    <a href="http://files.sdsetup.com/api/v2/account/githublogin">
        <BSButton title="Login using your GitHub account">GitHub</BSButton>
    </a>

    <a href="http://files.sdsetup.com/api/v2/account/gitlablogin">
        <BSButton title="Login using your GitLab account">GitLab</BSButton>
    </a>
</Unauthenticated>

<Authenticated>
    <h2>Dashboard</h2>

    <p>You are logged in!</p>

    <h4>Linked Accounts:</h4>

    <BSCard CardType="CardType.Deck">
        <LinkedProfileDisplay Service="@LinkedService.GitHub" Profile="@(Globals.UserProfile.githubProfile)"></LinkedProfileDisplay>
        <LinkedProfileDisplay Service="@LinkedService.GitLab" Profile="@(Globals.UserProfile.gitlabProfile)"></LinkedProfileDisplay>
    </BSCard>
</Authenticated>